<section id="about">
  <div class="max-wrapper">
    <div>
        <figure [class.hovered]="hovered" (mouseenter)="onHover()">
          <img ngSrc="../../../assets/img/photos/danie-profile.jpg" alt="Daniel Tran" height="1600" width="1600" priority>

          <figcaption class="d-none">
            Outside of development, I’m a passionate breakdancer. The discipline, creativity, and drive to constantly refine my skills in dance inspire how I approach coding and problem-solving in my projects.
          </figcaption>
        </figure>

        <article>
          <div>
            <h2>{{ 'ABOUT.WHO' | translate }}</h2>
            <div>
              <h3>{{ 'ABOUT.ABOUT' | translate }}</h3>

              <p>
                {{ 'ABOUT.ME' | translate }}
              </p>

              <p class="highlight"><span><img src="assets/img/icons/location_on.svg"></span>{{ 'ABOUT.LOCATION' | translate }}</p>
              <p class="highlight"><span><img src="assets/img/icons/new_releases.svg"></span>{{ 'ABOUT.UP_2_DATE' | translate }}</p>
              <p class="highlight"><span><img src="assets/img/icons/cognition.svg"></span>{{ 'ABOUT.COGNITION' | translate }}</p>
            </div>
          </div>
        </article>
    </div>
  </div>
</section>
