<section id="contact">
  <div class="max-wrapper">
    <div>
      <div>
        <h2>{{ 'CONTACT.CONTACT' | translate }}</h2>
        <h3>{{ 'CONTACT.TOGETHER' | translate }}</h3>

        <h4>{{ 'CONTACT.PROBLEM' | translate }}</h4>

        <p>
          {{ 'CONTACT.INFO' | translate }}
        </p>

        <p>
          {{ 'CONTACT.IN_NEED' | translate }} <span>{{ 'CONTACT.TALK' | translate }}</span> <br> {{ 'CONTACT.VALUE' | translate }}
        </p>
      </div>

      <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
        <label>
          {{ 'CONTACT.YOUR_NAME' | translate }}
          <input [(ngModel)]="contactData.name" #name="ngModel" #nameInput type="text" name="name" placeholder="{{ 'CONTACT.NAME_PLACEHOLDER' | translate }}" ngModel required (input)="onInputChange()">
        </label>

        <label
          (mouseenter)="hoverMiddle(true)"
          (mouseleave)="hoverMiddle(false)"
          (touchstart)="hoverMiddle(true)"
          (touchend)="hoverMiddle(false)">
          {{ 'CONTACT.YOUR_EMAIL' | translate }}
          <input [(ngModel)]="contactData.email" #email="ngModel" #emailInput type="email" name="email" placeholder="{{ 'CONTACT.EMAIL_PLACEHOLDER' | translate }}" ngModel required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" (input)="onInputChange()">
        </label>

        <label>
          {{ 'CONTACT.MESSAGE' | translate }}
          <textarea [(ngModel)]="contactData.message" #message="ngModel" #messageInput name="message" maxlength="800" placeholder="{{ 'CONTACT.MESSAGE_PLACEHOLDER' | translate }}" ngModel required (input)="autoGrow($event); onMessageChange($event)"></textarea>
        </label>

        <label class="custom-checkbox" (click)="clearCheckboxError()">
          <input #checkbox="ngModel" #subscribeInput type="checkbox" name="subscribe" id="subscribe" ngModel required (change)="onInputChange()">

          <span [class.error]="showCheckboxError">
            {{ 'CONTACT.CHECKBOX_1' | translate }} <a [routerLink]="['/privacy-policy']" (click)="scrollToTop()">{{ 'CONTACT.PRIVACY_POLICY' | translate }}</a>
            {{ 'CONTACT.CHECKBOX_2' | translate }}
          </span>

          <span *ngIf="showCheckboxError" class="error-message">
            {{ 'CONTACT.TERMS_ERROR' | translate }}
          </span>
        </label>

        <div *ngIf="successMessageVisible"
             class="success-message"
             [class.show]="!successMessageHide"
             [class.hide]="successMessageHide">
          {{ 'CONTACT.MESSAGE_SENT' | translate }}
        </div>

        <button
          (mouseenter)="onHover($event); checkForm(contactForm, true)"
          (mouseleave)="onHoverOut($event); checkForm(contactForm, false)"
          (touchstart)="onHover($event); checkForm(contactForm, true)"
          (touchend)="onHoverOut($event); checkForm(contactForm, false)"
          type="submit" [disabled]="contactForm.invalid">
          <span>{{ 'CONTACT.SAY' | translate }}</span>
        </button>
      </form>
    </div>
  </div>
</section>
