@use "../../../styles/colors" as *;
@use "../../../styles/mixins" as *;

section {
  width: 100%;

  > div {
    margin-top: 200px;

    > div {
      display: flex;

      > div {
        flex: 50%;
        margin: 0 25px 0 0;

        h2, h3, h4, span {
          color: $green-hundred;
        }

        > h2 {
          margin-top: 0;
          font-size: 24px;
          font-weight: 500;
          line-height: 100%;
        }

        > h3 {
          margin: 0;
          font-size: 64px;
          font-weight: 700;
          line-height: 100%;
          letter-spacing: -3%;
        }

        > h4 {
          font-size: 24px;
          font-weight: 700;
          line-height: 120%;
        }

        > p {
          font-size: 16px;
          max-width: 568px;
          font-weight: 400;
          line-height: 120%;
        }
      }

      form {
        flex: 50%;
        display: flex;
        margin: 0 0 0 25px;
        flex-direction: column;

        label {
          gap: 10px;
          opacity: 1;
          display: flex;
          padding: 32px;
          font-size: 24px;
          max-width: 616px;
          font-weight: 500;
          line-height: 120%;
          max-height: 131px;
          color: $green-hundred;
          flex-direction: column;
          font-family: "Fira Code", monospace;

          &:nth-child(3) {
            max-height: unset;
          }

          &:nth-child(odd) {
            border-top: 1px solid $green-fifty;
            border-bottom: 1px solid $green-fifty;

            &:hover {
              border-top: 1px solid $green-hundred !important;
              border-bottom: 1px solid $green-hundred !important;
            }
          }

          &:hover {
            cursor: pointer;

            > input, textarea {
              color: white;

              &::placeholder {
                color: white;
              }
            }
          }

          > input, textarea {
            font-family: "Karla", sans-serif;
            line-height: 120%;
            color: #FFFFFFCC;
            font-weight: 400;
            font-size: 18px;

            &::placeholder {
              color: #FFFFFFCC;
            }
          }

          > textarea {
            word-wrap: break-word;
            overflow-y: hidden;
            resize: none;
            height: 22px;
          }
        }

        .custom-checkbox {
          padding: 0;
          display: flex;
          margin: 36px 0;
          text-align: left;
          align-items: center;
          flex-direction: row;

          input[type="checkbox"] {
            border: 2px solid $green-hundred;
            border-radius: 4px;
            position: relative;
            appearance: none;
            min-width: 18px;
            cursor: pointer;
            height: 18px;
            width: 18px;

            &:checked::after {
              top: -2px;
              left: 2px;
              content: "✓";
              font-size: 16px;
              position: absolute;
              color: $green-hundred;
            }

            &:hover {
              &:before {
                content: "";
                width: 18px;
                height: 18px;
                position: absolute;
                border-radius: 50%;
                background: $green-hover;
                transform: scale(1.65);
              }
            }
          }

          > span {
            line-height: 120%;
            text-align: left;
            font-weight: 400;
            font-size: 15px;
            color: white;

            > a {
              padding: 0 4px;
              font-size: 15px;
              font-weight: 400;
              line-height: 120%;
              letter-spacing: -3%;
              color: $green-hundred;
              font-family: "Fira Code", monospace;

              &:hover {
                color: white;
                text-decoration: underline;
                text-underline-offset: 9px;
                text-decoration-thickness: 1px;
                text-decoration-color: $green-hundred;
              }
            }
          }
        }

        > button {
          @include pill-button;
          align-self: center;
          color: white;

          &:disabled {
            border: 1px solid #FFFFFF80;
            color: #FFFFFF80;

            &:hover {
              cursor: not-allowed;

              > span {
                color: #FFFFFF80;
              }
            }
          }
        }
      }
    }
  }
}

.error-placeholder::placeholder {
  color: #EC7B7BCC !important;
}

.custom-checkbox {
  position: relative;

  span.error::before {
    content: '';
    transform: translateY(190%);
    position: absolute;
    color: #EC7B7BCC;
    font-size: 14px;
    display: block;
    left: 0;
  }
}

.error-message {
  position: absolute;
  transform: translateY(190%);
  color: #EC7B7BCC !important;
  font-size: 14px;
  display: block;
  left: 0;
}

.success-message {
  transition: transform 0.5s ease, opacity 0.5s ease;
  background: rgba(255, 255, 255, 0.1215686275);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-family: "Fira Code", monospace;
  border-left: 4px solid $green-fifty;
  color: $green-hundred;
  border-radius: 6px;
  font-size: 0.95rem;
  padding: 12px 16px;
  font-weight: 500;
  position: fixed;
  z-index: 1000;
  left: -100%;
  opacity: 0;
  top: 33%;

  &.show {
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
  }

  &.hide {
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}
