<header>
  <div class="max-wrapper">
    <nav>
      <div>
        <button id="lang" [class.active-lang]="currentLang === 'en'" (click)="switchLanguage('en')">EN</button>
        <button id="lang-switch" [class.active-lang]="currentLang === 'de'" (click)="switchLanguage('de')">DE</button>
      </div>

      <a [routerLink]="['/']" fragment="about" (click)="goToMe()">
        {{ 'HEADER.ABOUT_ME' | translate }}
      </a>
      <a [routerLink]="['/']" fragment="skills" (click)="goToSkills()">
        {{ 'HEADER.SKILLS' | translate }}
      </a>
      <a [routerLink]="['/']" fragment="projects" (click)="goToProjects()">
        {{ 'HEADER.PROJECTS' | translate }}
      </a>
    </nav>

    <img [routerLink]="['']" alt="Logo" ngSrc="./assets/img/danieslogo.webp" height="365" width="902" priority>
  </div>
</header>
