@use "../../../styles/colors" as *;

header {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 13.56%, rgba(0, 0, 0, 0.6) 84.01%);

    > div {
      width: 100%;
      height: 98px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > nav {
        align-items: center;
        display: flex;
        gap: 24px;

        > div {
          display: flex;
          flex-wrap: nowrap;
          border-radius: 100px;
          border: 2px solid $green-hundred;

          &:hover {
            transition: all 0.5s ease;
            border: 2px solid #ffffff;

            > button {
              transition: all 0.5s ease;
              color: $green-hundred;
              font-weight: 700;
            }
          }

          > button {
            margin: 0;
            width: 44px;
            height: 28px;
            font-size: 16px;
            font-weight: 400;
            line-height: 120%;
            padding-left: 12px;
            padding-right: 12px;
            color: $green-fifty;
            border-radius: 100px;
            background: transparent;
            font-family: "Fira Code", monospace;

            &:focus-visible {
              outline: 2px solid $green-hundred;
            }
          }
        }

        a {
          color: white;
          font-size: 20px;
          font-weight: 100;
          line-height: 100%;
          position: relative;
          white-space: nowrap;
          letter-spacing: -0.03em;
          font-family: "Fira Code", monospace;

          &:hover {
            &:after {
              top: 100%;
              left: 50%;
              width: 8px;
              height: 8px;
              content: "";
              border-radius: 50%;
              position: absolute;
              background: $primary-green;
              transform: translate(-50%, 4px);
            }
          }
        }
      }

      > img {
        height: auto;
        width: 132.14px;
        object-fit: contain;

        &:hover {}
      }
    }
}

.active-lang {
  outline: none;
  border-radius: 100px;
  box-shadow: 0 0 0 2px $green-hundred;
  background: $green-hundred !important;
  font-weight: 700 !important;
  color: white !important;
}
