<header>
  <div class="max-wrapper">
    <nav>
      <div>
        <button id="lang" class="active-lang">EN</button>
        <button id="lang-switch">DE</button>
      </div>

      <a
        [routerLink]="['/']" fragment="about"
        (click)="goToMe()">
        About me</a>
      <a
        [routerLink]="['/']" fragment="skills"
        (click)="goToSkills()">
        Skills</a>
      <a
        [routerLink]="['/']" fragment="projects"
        (click)="goToProjects()">
        Projects</a>
    </nav>

    <img [routerLink]="['']" alt="Logo" ngSrc="./assets/img/danieslogo.webp" height="365" width="902" priority>
  </div>
</header>
