@use "colors" as *;

section {
  padding-top: 100px;

  > div {
    > div {
      > button {
        display: none;

        &:hover {
          svg path {
            fill: $green-hundred;
          }
        }
      }

      > h2 {
        font-family: "Fira Code", monospace !important;
        text-align: center;
        line-height: 120%;
        font-weight: 700;
        font-size: 64px;
      }

      > h3 {
        color: white;
        margin-bottom: 0;
      }

      > * {
        font-family: "Karla", serif;
        color: $green-hundred;
      }

      p {
        margin-top: 0;
      }

      .highlight {
        color: white;
      }
    }
  }
}

@media (max-width: 600px) {
  section {
    > div {
      > div {
        > button {
          display: unset;
        }

        > h2 {
          color: white;
          text-align: left;
          font-size: 32px;
        }

        > h3 {
          font-size: 23px;
          line-height: 120%;
        }

        > p {
          font-size: 19px;
          line-height: 120%;
        }
      }
    }
  }
}

:host {
  flex: 1;
}
