@use "../../../styles/colors" as *;
@use "../../../styles/mixins" as *;

$items: 8;
$duration: 30s;

section {
  display: flex;
  height: 100dvh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);

  > div {
    text-align: center;

    > h1 {
      color: #D9D9D9;
      font-size: 128px;
      font-weight: 700;
      line-height: 100%;
      margin: 12px 0 0 0;
      letter-spacing: -2%;
    }

    > h2 {
      margin: 0;
      color: #D9D9D9;
      font-size: 40px;
      font-weight: 400;
      line-height: 100%;
    }

    > div {
      gap: 48px;
      display: flex;
      margin-top: 40px;
      justify-content: center;

      > a {
        @include pill-button;
      }
    }
  }
}

.lateral {
  display: flex;
  inset: 0 0 0 0;
  position: absolute;
  pointer-events: none;
  align-items: flex-end;
  justify-content: space-between;

  > aside {
    width: 0;
    display: flex;
    align-items: center;
    pointer-events: none;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 1.5px solid $green-hundred;

    &:nth-child(1) {
      transform: translateX(15px);
      height: 25vh;

      > div {
        width: 30px;
        height: 48px;
        display: flex;
        align-items: center;
        border-radius: 32px;
        justify-content: center;
        transform: translateY(-160%);
        border: 1px solid $green-hundred;

        > img {
          animation: arrowJiggle 0.5s infinite alternate;
        }
      }
    }

    &:nth-child(2) {
      border-left: 1.5px solid white;
      transform: translateX(-15px);
      height: 20vh;

      > div {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transform: translateY(-130%);
      }
    }

    > div {
      display: flex;
      pointer-events: auto;
      flex-direction: column;

      > a {
        display: inline flex;

        &:first-child {
          transform: rotate(90deg) translateX(-60%);

          &:hover {
            color: $green-hundred;
          }
        }

        &:nth-child(2) {
          margin-bottom: 12px;
        }

        &:nth-child(2), &:nth-child(3) {
          &:hover {
            > svg > * {
              fill: white ;
            }

            &::before {
              opacity: 1;
            }
          }

          &::before {
            opacity: 0;
            width: 8px;
            height: 8px;
            content: "";
            right: -30px;
            border-radius: 50%;
            position: absolute;
            background: $green-hundred;
            transform: translateY(10px);
            transition: opacity 0.5s ease;
          }
        }
      }
    }
  }
}

//TODO - Mouse follower firefly
sections::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(
      circle 150px at var(--x, 50%) var(--y, 50%),
      rgba(61, 207, 182, 0.3),
      transparent 80%
  );
  transition: background 0.1s linear;
  z-index: 1;
}

.marquee {
  inset: 0 0 0 0;
  position: absolute;
  overflow: hidden;
  pointer-events: none;

  > div {
    left: -5px;
    bottom: 6%;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    overflow: hidden;
    position: absolute;
    background: #FFFFFF1F;
    transform: rotate(-3deg);
    margin-top: 0 !important;
    backdrop-filter: blur(3px);

    > div {
        width: 99%;
        left: -15px;
        height: 100%;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        margin-inline: auto;

      > p {
        margin: 0;
        width: 500px;
        height: 100%;
        display: flex;
        flex-shrink: 0;
        font-size: 32px;
        font-weight: 400;
        line-height: 120%;
        position: absolute;
        white-space: nowrap;
        align-items: center;
        color: $green-hundred;
        justify-content: space-between;
        font-family: "Karla", sans-serif;

        left: max(calc(500px  * 8), 100%);
        animation-name: scrollLeft;
        animation-duration: 30s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    }
  }
}

@for $i from 1 through $items {
  .item#{$i} {
    animation-delay: calc(#{$duration} / #{$items} * (#{$items} - #{$i}) * -1);
  }
}
