<section>
  <div class="max-wrapper">
    <h2>Frontend Developer</h2>
    <h1>Daniel Tran</h1>

    <div>
      <a
        (mouseenter)="onHover($event)"
        (mouseleave)="onHoverOut($event)"
        (touchstart)="onHover($event)"
        (touchend)="onHoverOut($event)"
      href="#">
        <span>Check my work</span>
      </a>
      <a
        (mouseenter)="onHover($event)"
        (mouseleave)="onHoverOut($event)"
        (touchstart)="onHover($event)"
        (touchend)="onHoverOut($event)"
      href="#">
        <span>Contact me</span>
      </a>
    </div>
  </div>

  <div class="lateral max-wrapper">
    <aside class="left">
      <div><img ngSrc="assets/img/icons/arrow.svg" alt="arrow" height="14" width="8"></div>
    </aside>

    <aside class="right">
      <div>
        <a href="mailto:danietr99@gmail.com">danietr99&#64;gmail.com</a>
        <a target="_blank" rel="noopener" href="https://github.com/uteki"><img ngSrc="assets/img/icons/Github.svg" alt="Github" height="32" width="32"></a>
        <a target="_blank" rel="noopener" href="#"><img ngSrc="assets/img/icons/Linkedin.svg" alt="Linkedin" height="32" width="32"></a>
      </div>
    </aside>
  </div>
</section>
