<section>
  <div class="max-wrapper">
    <div>
      <article>
        <div>
          <h2>Technologies</h2>

          <div>
            <h3>Skill Set</h3>
            <p>
              I’ve worked with a wide range of front-end and back-end technologies, including Angular,
              TypeScript, Firebase, Docker, Java, PHP, and SQL. I adapt quickly to new technologies,
              continuously refine my skills and workflow, and treat every project as an opportunity to
              learn, grow, and stay ahead in the fast-moving world of web development, delivering
              efficient, scalable, and engaging solutions.
            </p>

            <div>
              <h4>You need <span>another skill?</span></h4>
              <p>
                Feel free to contact me. I look forward to expanding on my previous knowledge.
              </p>
            </div>

            <a
              (mouseenter)="onHover($event)"
              (mouseleave)="onHoverOut($event)"
              (touchstart)="onHover($event)"
              (touchend)="onHoverOut($event)"
              href="#"
            >
              <span>Let's Talk</span>
            </a>
          </div>
        </div>
      </article>

      <div>
        <div *ngFor="let skill of skills">
          <figure>
            <img [src]="skill.icon" [alt]="skill.name">
            <figcaption [innerHTML]="skill.name"></figcaption>
          </figure>
        </div>

        <div>
          <figure class="tooltip">
            <img [src]="growth.icon" [alt]="growth.name">
            <figcaption [innerHTML]="growth.name"></figcaption>

            <div class="tooltip-content">
              <p>I have a special interest in learning !</p>
              <div>
                <figure *ngFor="let learn of growth.learning">
                  <img [src]="learn.icon" [alt]="learn.name" width="30">
                  <figcaption>{{ learn.name }}</figcaption>
                </figure>
              </div>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
