<section id="skills">
  <div class="max-wrapper">
    <div>
      <article>
        <div>
          <h2>{{ 'SKILLS.TECH' | translate }}</h2>

          <div>
            <h3>{{ 'SKILLS.SET' | translate }}</h3>
            <p>
              {{ 'SKILLS.INFO' | translate }}
            </p>

            <div>
              <h4>{{ 'SKILLS.ANOTHER' | translate }} <span>{{ 'SKILLS.SKILL' | translate }}</span></h4>
              <p>
                {{ 'SKILLS.CONTACT' | translate }}
              </p>
            </div>

            <a
              (mouseenter)="onHover($event)"
              (mouseleave)="onHoverOut($event)"
              (touchstart)="onHover($event)"
              (touchend)="onHoverOut($event)"
              [routerLink]="['/']" fragment="contact"
              (click)="goToContact()">
              <span>{{ 'SKILLS.TALK' | translate }}</span>
            </a>
          </div>
        </div>
      </article>

      <div>
        <div *ngFor="let skill of skills">
          <figure>
            <img [src]="skill.icon" [alt]="skill.name">
            <figcaption [innerHTML]="skill.name"></figcaption>
          </figure>
        </div>

        <div>
          <figure class="tooltip">
            <img [src]="growth.icon" [alt]="growth.name">
            <figcaption [innerHTML]="growth.name"></figcaption>

            <div class="tooltip-content">
              <p>{{ 'SKILLS.INTERESTS' | translate }} !</p>
              <div>
                <figure *ngFor="let learn of growth.learning">
                  <img [src]="learn.icon" [alt]="learn.name" width="30">
                  <figcaption>{{ learn.name }}</figcaption>
                </figure>
              </div>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
