<section>
  <div class="max-wrapper">
    <div>
      <h2 [innerHTML]="'PRIVACY.TITLE' | translate"></h2>

      <h3>{{ 'PRIVACY.H3_INTRODUCTION' | translate }}</h3>
      <p [innerHTML]="'PRIVACY.INTRODUCTION' | translate"></p>

      <h3>{{ 'PRIVACY.H3_INFO_COLLECT' | translate }}</h3>
      <p [innerHTML]="'PRIVACY.INFO_COLLECT' | translate"></p>

      <h3>{{ 'PRIVACY.H3_USE_INFO' | translate }}</h3>
      <p [innerHTML]="'PRIVACY.USE_INFO' | translate"></p>

      <h3>{{ 'PRIVACY.H3_COOKIES' | translate }}</h3>
      <p [innerHTML]="'PRIVACY.COOKIES' | translate"></p>

      <h3>{{ 'PRIVACY.H3_THIRD_PARTY' | translate }}</h3>
      <p [innerHTML]="'PRIVACY.THIRD_PARTY' | translate"></p>

      <h3>{{ 'PRIVACY.H3_DATA_SECURITY' | translate }}</h3>
      <p [innerHTML]="'PRIVACY.DATA_SECURITY' | translate"></p>

      <h3>{{ 'PRIVACY.H3_YOUR_RIGHTS' | translate }}</h3>
      <p [innerHTML]="'PRIVACY.YOUR_RIGHTS' | translate"></p>

      <h3>{{ 'PRIVACY.H3_CHANGES' | translate }}</h3>
      <p [innerHTML]="'PRIVACY.CHANGES' | translate"></p>

      <h3>{{ 'PRIVACY.H3_CONTACT' | translate }}</h3>
      <p [innerHTML]="'PRIVACY.CONTACT' | translate"></p>

      <p>{{ 'PRIVACY.DATE' | translate }}</p>
    </div>
  </div>
</section>
