<section>
  <div class="max-wrapper">
    <div>
      <h2 [innerHTML]="'LEGAL_NOTICE.TITLE' | translate"></h2>

      <h3 [innerHTML]="'LEGAL_NOTICE.H3_IMPRINT' | translate"></h3>
      <p [innerHTML]="'LEGAL_NOTICE.IMPRINT' | translate"></p>

      <h3 [innerHTML]="'LEGAL_NOTICE.H3_EXPLORING' | translate"></h3>
      <p [innerHTML]="'LEGAL_NOTICE.EXPLORING' | translate"></p>

      <h3 [innerHTML]="'LEGAL_NOTICE.H3_ACCEPTANCE' | translate"></h3>
      <p [innerHTML]="'LEGAL_NOTICE.ACCEPTANCE' | translate"></p>

      <h3 [innerHTML]="'LEGAL_NOTICE.H3_SCOPE' | translate"></h3>
      <p [innerHTML]="'LEGAL_NOTICE.SCOPE' | translate"></p>
      <p [innerHTML]="'LEGAL_NOTICE.SCOPE_2' | translate"></p>

      <h3 [innerHTML]="'LEGAL_NOTICE.H3_PROPRIETARY' | translate"></h3>
      <p [innerHTML]="'LEGAL_NOTICE.PROPRIETARY' | translate"></p>

      <h3 [innerHTML]="'LEGAL_NOTICE.H3_USE' | translate"></h3>
      <p [innerHTML]="'LEGAL_NOTICE.USE' | translate"></p>

      <h3 [innerHTML]="'LEGAL_NOTICE.H3_DISCLAIMER' | translate"></h3>
      <p [innerHTML]="'LEGAL_NOTICE.DISCLAIMER' | translate"></p>

      <h3 [innerHTML]="'LEGAL_NOTICE.H3_INDEMNITY' | translate"></h3>
      <p [innerHTML]="'LEGAL_NOTICE.INDEMNITY' | translate"></p>

      <p [innerHTML]="'LEGAL_NOTICE.CONTACT' | translate"></p>
      <p>{{ 'LEGAL_NOTICE.DATE' | translate }}</p>
    </div>
  </div>
</section>
