<section>
  <div class="max-wrapper">
    <div>
      <h2>Portfolio</h2>
      <h3>Featured Projects</h3>
      <p>Explore a selection of my work here - Interact with <br> projects to see my skills in action.</p>

      <ul>
        <li *ngFor="let project of projects" [ngClass]="project.preview" class="project">
          <h4>{{ project.name }}</h4>
          <p>
            <ng-container *ngFor="let tech of project.tech; let last = last">
              <ng-container [ngSwitch]="tech">
                <abbr *ngSwitchCase="'HTML'">HTML</abbr>
                <abbr *ngSwitchCase="'CSS'">CSS</abbr>
                <code *ngSwitchDefault>{{ tech }}</code>
              </ng-container>
              <span *ngIf="!last"> | </span>
            </ng-container>
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
