@use "../../../styles/colors" as *;

section {
  > div {
    margin-top: 100px;

    > div {
      > h2 {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
        line-height: 100%;
        color: $green-hundred;
      }

      > h3 {
        color: $green-hundred;
        margin: 20px 0 40px 0;
        letter-spacing: -3%;
        line-height: 100%;
        font-weight: 700;
        font-size: 64px;
      }

      > p {
        margin: 0;
      }

      > ul {
        padding: 0;
        margin-top: 40px;
        margin-bottom: 0;
        position: relative;

        > li {
          opacity: 1;
          display: flex;
          max-width: 880px;
          max-height: 109px;
          padding: 40px 32px;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid $green-hundred;

          > h4 {
            line-height: 120%;
            font-weight: 700;
            font-size: 24px;
            margin: 0;
          }

          > p {
            margin: 0;
            font-size: 18px;
            font-weight: 400;
            line-height: 120%;

            > span {
              color: $green-hundred;
            }
          }

          &:first-child {
            border-top: 1px solid $green-hundred;
          }

          &:hover {
            cursor: pointer;
            background: $green-hover;

            > h4::after {
              content: url("/assets/img/icons/arrow_outward.svg");
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}

.project {
  &:first-child {
    &::before {
      top: 0;
    }

    &::after {
      top: 0;
    }
  }

  &:last-child {
    &::before {
      bottom: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    border-radius: 10px;
    background: repeating-linear-gradient(
        135deg,
        rgba(0, 224, 198, 0.4),
        rgba(0, 224, 198, 0.4) 2px,
        transparent 1px,
        transparent 11px
    );
    transform: translate(20px, 20px);
    transition: opacity 0.3s ease;
    pointer-events: none;
    aspect-ratio: 16/10;
    max-width: 400px;
    width: 15vw;
    opacity: 0;
    z-index: 0;
    right: 0;
  }

  &::after {
    right: 0;
    z-index: 1;
    opacity: 0;
    content: "";
    width: 15vw;
    max-width: 400px;
    position: absolute;
    border-radius: 10px;
    aspect-ratio: 16/10;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  &:hover::after {
    opacity: 1;

  }

  &:hover::before {
    opacity: 1;
  }
}

.pok-dex:hover::after {
  background: url("/assets/img/previews/pok-dex.png") no-repeat center/contain;
}

.join:hover::after {
  background: url("/assets/img/previews/join.png") no-repeat center/contain;
}

.sharkie:hover::after {
  background: url("/assets/img/previews/sharkie.png") no-repeat center/contain;
}

.da_bubble:hover::after {
  background: url("/assets/img/previews/da_bubble.png") no-repeat center/contain;
}
