@use "../../../styles/colors" as *;

section {
  > div {
    margin-top: 100px;

    > div {
        h3 {
          margin: 0;
          color: $green-hundred;
          line-height: 100%;
          font-weight: 700;
          font-size: 24px;
        }

        h2 {
          margin: 20px 0 40px 0;
          color: $green-hundred;
          letter-spacing: -3%;
          line-height: 100%;
          font-weight: 700;
          font-size: 64px;
        }

      > div {
        margin-top: 40px;
        position: relative;

        > div {
          max-width: 880px;
          max-height: 109px;
          justify-content: space-between;
          opacity: 1;
          padding: 40px 32px;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #3DCFB6;

          > p {
            font-family: "Fira Code";
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;
            margin: 0;
          }

          > span {
            font-family: "Karla";
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;

          }

          &:first-child {
            border-top: 1px solid #3DCFB6
          }

          &:hover {
            cursor: pointer;
            background: $green-hover;
          }
        }
      }
    }
  }
}

.test {
  &::before {
    content: "";
    position: absolute;
    border-radius: 10px;
    background: repeating-linear-gradient(
        135deg,
        rgba(0, 224, 198, 0.4),
        rgba(0, 224, 198, 0.4) 2px,
        transparent 1px,
        transparent 11px
    );
    opacity: 0;
    pointer-events: none;
    transform: translate(20px, 20px);
    width: 15vw;
    max-width: 600px;
    aspect-ratio: 16/10;
    right: 0;
    transition: opacity 0.3s ease;
    z-index: 0;
  }

  &::after {
    border-radius: 10px;
    content: "";
    position: absolute;
    right: 0;
    background: url("/assets/img/previews/join.png") no-repeat center/contain;
    width: 15vw;
    max-width: 600px;
    aspect-ratio: 16/10;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    z-index: 1;
  }
}

.test:hover::after {
  opacity: 1;
}
.test:hover::before {
  opacity: 1;
}
