<footer>
  <div class="max-wrapper">
    <div>
      <img alt="Logo" ngSrc="./assets/img/danieslogo.webp" height="363" width="906" priority>
      <p>Web Developer</p>
      <address>Munich Germany</address>
    </div>

    <p>© Daniel Tran 2025</p>

    <nav aria-label="Footer navigation">
      <ul>
        <li><a target="_blank" rel="noopener" href="https://github.com/uteki">Github</a></li>
        <li><a target="_blank" rel="noopener" href="https://www.linkedin.com/in/daniel-tran-72285930b">LinkedIn</a></li>
        <li><a href="mailto:danietr99@gmail.com">Email</a></li>
        <li><a [routerLink]="['/legal-notice']" target="_blank">Legal Notice</a></li>
      </ul>
    </nav>
  </div>
</footer>
